<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sign">
    <div class="signText">
    <h1>Welcome.</h1>
    <h1>Join us to get the best experience from music!</h1>
    </div>
    <form action="/auth/sign-up" method="POST" class="signForm">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="input" required/>
        <label for="pwd">Password: </label>
        <input type="password" name="pwd" id="pwd" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="input" required/>
        <label for="confirmPwd">Confirm password: </label>
        <input type="password" name="confirmPwd" id="confirmPwd" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;" class="input" required/>
        <button type="submit" class="signBtn">Sign Up</button>
    </form>
    <div class="signTextBottom">
    <h1>Do you have an account already?</h1>
    <a href="/auth/sign-in" class="link" id="signHref">Sign In</a>
    </div>
</div>
</body>
</html>