<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <h1>Welcome back!</h1>
    <form action="/auth/sign-in" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required/>
        <label for="pwd">Password: </label>
        <input type="text" name="pwd" id="pwd" required/>
        <button type="submit">Sign-In</button>
    </form>
    <h1>Create an account here!</h1>
    <button>Sign-Up</button>
</body>
</html>