<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>New Genre</h1>
    <form action="/genres" method="POST">
        <label for="name">Genre Name</label>
        <input type="text" name="name" id="name"/>   
        <button type="submit">Add</button>
    </form>
    
</body>
</html>