<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>musify</title>
</head>
<body>
<div class="nav">
    <nav>
        <h1 class="titlenav">Musify</h1>
        <% if (user) { %>
        <div class="logged">
        <a href="/" class="link">Home</a>
        <a href="/users/<%= user._id %>/songs" class="link">Your favs.</a>
        <a href="/auth/sign-out" class="link">Sign Out</a>
        </div>
        <% } else { %>
        <div class="notlogged">
        <a href="/" class="link">Home</a>
        <a href="/auth/sign-in" class="link">Sign In</a>
        <a href="/auth/sign-up" class="link">Sign Up</a>
        <% } %>
        </div>
    </nav>
</div>
    
</body>
</html>