<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Musify</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
<div class="addpage">
    <h1 class="addSongsTitle"> Add A New Song! </h1>
    <form action="/songs" method="POST" class="card">
        <input name="title" placeholder="Title"/> - <input name="artist" placeholder="Artist"/> - <input name="genre" placeholder="Genre"/>
        <button type="submit" class="addBtn"> ➕ </button>
    </form>
</div>
</body>
</html>