<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
</head>
<body>
    <h1>New Song</h1>
    <form action="/songs" method="POST">
        <input name="title" placeholder="Title"/>
        <input name="artist" placeholder="Artist"/>
        <input name="genre" placeholder="Genre"/>
        <button>Add</button>
    </form>
    
</body>
</html>